{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": ".",
          "@public": "./public",
          "@src": "./src",
          "@comp": "./src/components",
          "@atom": "./src/components/atoms",
          "@block": "./src/components/blocks",
          "@page": "./src/components/pages",
          "@store": "./src/stores",
          "@router": "./src/routers",
          "@hook": "./src/hooks",
          "@util": "./src/utils"
        }
      }
    ]
  ]
}
