{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": ".",
          "@config": "./config",
          "@src": "./src",
          "@comp": "./src/components",
          "@atomic": "./src/components/atomics",
          "@molecule": "./src/components/molecules",
          "@organism": "./src/components/organisms",
          "@page": "./src/pages",
          "@store": "./src/stores",
          "@router": "./src/routers",
          "@hook": "./src/hooks",
          "@image": "./src/images",
          "@util": "./src/utils",
          "@static": "./src/statics"
        }
      }
    ]
  ]
}
