{
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "bracketSameLine": false,
  "quoteProps": "preserve",
  "printWidth": 100
}
